.newsletter-sign-up-page {
  background-color: #36384d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .btn {
    background-color: #232742;
    color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #232742;
    font-weight: 600;
    width: 100%;
  }

  @media (max-width: 768px) {
    height: auto;
  }

  .newsletter-sign-up {
    background-color: white;
    padding: 20px 50px;
    padding-right: 20px;
    border-radius: 30px;
    height: 600px;
    width: 960px;
    color: #232742;
    display: flex;
    gap: 50px;

    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
      padding: 20px;
      height: auto;
      width: auto;
      border-radius: 0;
      gap: 20px;

      .left {
        order: 2;
      }

      .right {
        order: 1;
        img {
          height: 350px;
          object-fit: cover;
        }
      }
    }

    p {
      font-size: 20px;
    }

    .left {
      flex: 5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-size: 50px;
        font-weight: 600;
      }
      .desc {
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .features {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .feature-item {
          gap: 16px;
          display: flex;
          align-items: center;
          p {
            font-size: 18px;
          }
        }
      }

      .email-input {
        margin-top: 30px;
        margin-bottom: 20px;

        &.input-error {
          input {
            border-color: #ff392f;
            background-color: #ffe8e6;
            color: #ff392f;
          }
        }

        label {
          font-size: 18px;
          font-weight: 600;
          display: block;
          color: #232742;
        }

        input {
          margin-top: 5px;
          padding: 20px;
          border-radius: 8px;

          border: 2px solid #a5a5a5;
          font-weight: 500;
        }

        .top {
          display: flex;
          justify-content: space-between;
          .error {
            color: #ff392f;
            font-weight: 500;
          }
        }
      }
    }

    .right {
      flex: 5;

      img {
        border-radius: 30px;
      }
    }
  }

  .subscribed {
    width: 400px;
    padding: 60px;
    border-radius: 30px;

    background-color: white;
    color: #232742;

    h1 {
      font-size: 44px;
      font-weight: 600;
      line-height: 1;
      margin-top: 20px;
    }

    .desc {
      font-weight: 400;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 20px;

      span {
        font-weight: 600;
      }
    }
  }
}
