@import "./variables";

// Import Global Styles
@import "./home";
@import "./globals.scss";
@import "./form-input";
@import "./toast";
@import "./button";


// Import Intern Projects
@import "./product-preview-card";
@import "./results-summary";
@import "./header";
@import "./footer";
@import "./nft-card";
@import "./interactive-rating";
@import "./qr-code";
@import "./order-summary";
@import "./stats-preview";
@import "./three-column-card";
@import "./profile-card";
@import "./faq-accordion";
@import "./social-proof";
@import "./article-preview";
@import "./four-card";
@import "./base-apparel";
@import "./sign-up-form";
@import "./single-price-grid";
@import "./ping-single-column";
@import "./huddle-landing";
@import "./workit-landing-page";

// Import Junior Projects
@import "./age-calculator";
@import "./news-page";
@import "./captcha-page";
@import "./newsletter-sign-up";