@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Outfit", sans-serif;
}

html,
body,
:root {
  background-color: #000;
  user-select: none;
  color: #fff;
  height: 100%;
}

body {
  color: #fff;
  background-color: #100922;
}

li {
  list-style: none;
  width: 100%;
}

input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 20px;
}

.centered-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
