.app-header {
  padding: 1rem;
  text-align: center;
  h1 {
    font-size: 2rem;
    margin: 0;
  }
  position: fixed;
  left: 50%;
transform: translateX(-50%);
  bottom: 0;
  .go-home-btn {
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 32px;
    font-weight: 500;
    background-color: rgb(190, 50, 50);
    transition: all 0.3s ease;

    color: #fff;
    &:hover {
      background-color: rgb(160, 50, 50);
    }
  }
}
