.home-page {
  .projects-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .project-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 10px;
  }

  .project-container h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
  }

  .project-list {
    background: linear-gradient(180deg, #221349 100%, rgba(0, 0, 0, 1) 100%);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 10px;
    height: 273px;
  }
  .portfolio-owner {
    display: flex;
    padding: 20px;
    background: #221349;
    background: -moz-linear-gradient(180deg, #221349 55%, rgba(0, 0, 0, 1) 55%);
    background: -webkit-linear-gradient(
      180deg,
      #221349 55%,
      rgba(0, 0, 0, 1) 55%
    );
    background: linear-gradient(180deg, #221349 55%, rgba(0, 0, 0, 1) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#180d35",endColorstr="#000000",GradientType=1);
    border-radius: 10px;
    margin-bottom: 20px;
    gap: 30px;

    .owner {
      &-profile {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-name {
        color: #fff;
      }
      &-title {
        color: #7e838a;
      }
      &-desc {
        color: #7e838a;
      }
      &-img {
        width: 200px;
        height: 200px;
        position: relative;
        img {
          border-radius: 50%;
        }
        .status {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          position: absolute;
          bottom: 0;
          right: 10px;
          border: 8px solid #000;

          &__available {
            background: #31c754;
          }

          &__busy {
            background: #dc3545;
          }

          &__offline {
            background: #6c757d;
          }
        }
      }

      &-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .owner-socials {
          display: flex;
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 24px;

          a {
            color: #fff;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: #7e838a;
            }
          }
        }
      }
    }
  }
}
