.results-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  li {
    border-radius: 4px;
  }
  .score-cards {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .score-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
  }

  .left {
    background-image: linear-gradient(#6743ff, #312af2);
    height: 100%;
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .left h4 {
    color: #c8c5fd;
    font-size: 16px;
  }

  .left .result-circle {
    background-image: linear-gradient(#4d22c8 0%, #4734f0 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 140px;
    height: 140px;
  }

  .left .result-circle .percent {
    font-size: 60px;
    font-weight: 600;
  }

  .left .result-circle span {
    color: #796df0;
    font-size: 14px;
    font-weight: 500;
  }

  .result-description {
    color: #aeafff;
    text-align: center;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;
    padding: 30px;
  }

  .right h4 {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  li:nth-child(1) {
    background-color: #fff6f5;
  }

  li:nth-child(2) {
    background-color: #fffbf2;
  }

  li:nth-child(3) {
    background-color: #f2fafa;
  }

  li:nth-child(4) {
    background-color: #f3f3fd;
  }

  li:nth-child(1) {
    color: #d56464;
  }

  li:nth-child(2) {
    color: #e0b465;
  }

  li:nth-child(3) {
    color: #60c0a8;
  }

  li:nth-child(4) {
    color: #3c40c3;
  }

  .score-card .dark {
    color: #363d4f;
  }
  .score-card .score {
    color: #9fa8ae !important;
    font-weight: bold;
  }

  button.continue {
    background-color: #363d4f;
    color: white;
    border: none;
    padding: 12px 20px;
    display: block;
    width: 100%;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button.continue:hover {
    background-color: #474d5e;
  }
}
